<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">

    {{>_links}}

    <title>Threads In Time</title>
    <link rel="stylesheet" href="styles/js-snackbar.css">
    <script src="js/js-snackbar.js"></script>
</head>
<body>
    
    {{>navbar}}
    <div class="container-fluid mt-2 home">    
        {{>flashmsg}}
        {{{body}}}
        <br>
    </div>
    <script src="/js/common.js"></script>
    {{>_scripts}}
</body>
</html>
