{{!-- <div class="container-sm">
    <div class="row align-items-start">
        <div class="image col">
            <img src="https://media.karousell.com/media/photos/products/2020/11/3/mobile_legend_account_1604372210_eab05926_progressive.jpg" style="padding-left:20px" width="500px">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <h3>Temp Name</h3>
            <h4>$1000000</h4>
            <h5>description</h5>
            <p>this is a placeholder to see if everything works out</p>
        </div>
        <div class="col"></div>
        <div class="item-right col">
            name
        </div>
    </div>
</div> --}}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".bd-example-modal">Extra large modal</button>

<div class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content float-right">
    <div class="modal-head">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="background-color: transparent; border: none; float: right !important;">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <div class="modal-body">
        <div class="container">
    <div class="row align-items-start">
        <div class="image col-md-12">
            <img class='img-fluid' src="https://media.karousell.com/media/photos/products/2020/11/3/mobile_legend_account_1604372210_eab05926_progressive.jpg">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-8">
            <h3>Temp Name</h3>
            <h4>$1000000</h4>
            <h5>description</h5>
            <p>this is a placeholder to see if everything works out</p>
        </div>

        <div class="item-right col-md-4 text-left border">
                <h3>username</h3>
                <button class="modal-button"><span>edit</span></button>
                <br>
                <button class="modal-button"><span>mark as sold</span></button>
                <br>
                <button class="modal-button"><span>delete</span></button>
        </div>
    </div>
</div>
      </div>
    </div>
  </div>
</div>
<style> 
    .modal-button{
        width: 200px;
        text-align: center;
        background-color: transparent;
        border: none
    }
    .modal-button:hover{
        background-color: lightgrey;
    }
</style>